#app {
  background-image: url("../public/imgs/bg-goblin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

nav {
  height: 70px;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

footer {
  height: 40px;
  font-size: 0.88rem;
  letter-spacing: 0.02rem;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

main>.container {
  min-height: calc(100vh - 110px);
}

#header-logo {
  width: 300px;
  margin: 0 auto;
}

.home-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  translate: -50% 0;
}

.card.card-body {
  background-color: rgba(0, 0, 0, 0.45) !important;
  border: none !important;
}

.form-floating {
  width: 100%;
}

.svg-logo {
  translate: 0 -7%;
}

.svg-logo path {
  fill: #0d6efd;
}

button:hover path {
  fill: #fff;
  transition: 0.15s ease-in-out;
}

footer .nav-link:hover {
  color: aqua;
}

@media (max-width: 575.98px) {
  .card {
    width: 90vw;
  }
}

@media (max-height: 575.98px) {
  .home-content {
    top: 1vh;
  }
}